<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ header_title or "我的網站"}}</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    {% block sytle_list%}

    {%endblock%}
</head>

<body>
    <header>
        <a href="/">
            <img src="https://www.infineon.com/frontend/release_2023-01/dist/resources/img/logo-desktop-en.png"
                alt="Infineon logo">
        </a>
        <h1 class="red-title">{{header_title or "default header title"}}</h1>
        <!-- <h1>header title2</h1> -->

        {% block header %}
        <!-- 此處是首頁要用的個別block -->
        {% endblock %}

    </header>
    <div class="wrap">
        {% block body %}

        {% endblock %}
    </div>
    <footer>
        <p>Powered by Python Flask, <a
                href="https://intranet.infineon.com/profile/public/echen3?accountname=INFINEON\echen3">about me</a>
        </p>

    </footer>
</body>

</html>